@{
    ViewData["Title"] = "Home Page";
}  

    <div class="jumbotron" style="background-image: url('../../img/carrot.jpg');">
        <h1>Welcome to Saucy Vegan!</h1>
        <p class="lead">Your plant-based meal organizer</p>
        <hr class="my-4">
        <p> Let's get started! </p>
        <p><a class="btn btn-info btn-lg" href="/Home/About" role="button">Learn more</a></p>
    </div>


<body>

</body>