<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<div id="FoodItems">
    <h2>Food Items</h2>
    <p class="lead">A compilation of all the ingredients and recipes to use in your Saucy Vegan meals!</p>
    <p class="my-3">
        <input style="float:left" class="form-control" type="text" data-bind="textInput: SearchString" placeholder="Search for...">
        <input class="btn btn-default" data-bind="click: function () { populateData(); }" value="Go!" />

        <select style="float: left; height:35px; padding: 2px 4px; border-radius: 3px 3px 3px 3px; border-color: lightgrey">
            <option value="">All</option>
        </select>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Is a Recipe</th>
                <th>Pantry Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Items">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: category"></td>
                <td><input type="checkbox" data-bind="checked: isRecipe" disabled /></td>
                <td><input type="checkbox" data-bind="checked: isPantryItem" disabled /></td>
                <td>
                    <a style="color: grey;" data-bind="click: function() { $root.showEdit($data); }" class="">Edit</a> |
                    <a style="color: grey;" data-bind="click: function() { $root.showDetails($data); }" class="">View</a> |
                    <a style="color: grey;" class=""> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="details-modal" class="modal fade" tabindex="-1" role="dialog" data-bind="with: DetailItem">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2 data-bind="text: name" class="text-center"></h2>
                <hr />
                <dl class="dl-horizontal col-sm-offset-1">
                    <dt>Category</dt>
                    <dd data-bind="text: category"></dd>
                    <dt>Serving Size</dt>
                    <dd data-bind="text: servingSize() + ' ' + servingUnits()"></dd>
                    <dt>User ID</dt>
                    <dd data-bind="text: userID"></dd>
                    <dt>Item ID</dt>
                    <dd data-bind="text: itemID"></dd>
                    <dt>Calories/Serving (cals)</dt>
                    <dd data-bind="text: caloriesPerServing"></dd>
                    <dt>Protein/Serving (g)</dt>
                    <dd data-bind="text: proteinPerServing"></dd>
                    <dt>Is Recipe</dt>
                    <dd><input type="checkbox" data-bind="checked: isRecipe" disabled/></dd>
                    <dt>Is Pantry Item</dt>
                    <dd><input type="checkbox" data-bind="checked: isPantryItem" disabled /></dd>
                    <dt>Gluten Free</dt>
                    <dd><input type="checkbox" data-bind="checked: isGF" disabled /></dd>
                </dl>

                <div id="recipe" data-bind="visible: isRecipe">
                    <dl class="dl-horizontal col-sm-offset-1">
                        <dt>Recipe ID</dt>
                        <dd data-bind="text: recipeID"></dd>
                        <dt>Notes</dt>
                        <dd data-bind="text: recipe.notes"></dd>
                        <dt>Servings</dt>
                        <dd data-bind="text: recipe.servings"></dd>
                    </dl>
                    <h4>Ingredients</h4>
                    <ul data-bind="foreach: recipe.ingredients">
                        <li data-bind="text: item.name"></li>
                    </ul>
                    <h4>Instructions</h4>
                    <ol data-bind="foreach: recipe.instructions">
                        <li data-bind="text: description"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" data-bind="with: EditItem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h2 class="text-center">Edit</h2>
                <hr />
               
                <dl class="dl-horizontal col-sm-offset-1">
                    <dt>Name</dt>
                    <dd><input type="text" data-bind="value: name"/> </dd>
                    <dt>Category</dt>
                    <dd><input type="text" data-bind="value: category" /></dd>
                    <dt>Serving Size</dt>
                    <dd><input type="number" data-bind="value: servingSize"/></dd>
                    <dt>Serving Units</dt>
                    <dd><input type="text"data-bind="value: servingUnits" /></dd>
                    <dt>Calories/Serving (cals)</dt>
                    <dd><input type="number" data-bind="value: caloriesPerServing"/></dd>
                    <dt>Protein/Serving (g)</dt>
                    <dd><input type="number" data-bind="value: proteinPerServing" /></dd>
                    <dt>Is Recipe</dt>
                    <dd><input type="checkbox" data-bind="checked: isRecipe" /></dd>
                    <dt>Is Pantry Item</dt>
                    <dd><input type="checkbox" data-bind="checked: isPantryItem" /></dd>
                    <dt>Gluten Free</dt>
                    <dd><input type="checkbox" data-bind="checked: isGF" /></dd>
                </dl>

                <div data-bind="visible: isRecipe">
                    <h4>Ingredients</h4>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center">Ingredient</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Units</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: recipe.ingredients">
                            <tr>
                                <td><input type="text" data-bind="value: item.name"/></td>
                                <td><input type="number" data-bind="value: quantity"/></td>
                                <!-- <td><input type="text" data-bind="value: units"/></td> -->
                                <td><select data-bind="options: $root.UnitList, value: units, optionsText: 'UnitName', optionsValue: 'UnitName'"></select></td>
                                <td><a class="glyphicon glyphicon-remove-circle" data-bind="click: $root.removeIngredient" style="text-decoration: none;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-default" data-bind='click: function(){$root.addIngredient}'>Add Ingredient</button>
                    <h4>Instructions</h4>
                    <table class="table table-condensed">                       
                        <thead>
                            <tr>
                                <th class="col-md-1">Step</th>
                                <th >Instructions</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: recipe.instructions">
                            <tr>
                                <td data-bind="text: order"></td>
                                <td><textarea name="" id="" rows="3" class="form-control" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" data-bind="value: description"></textarea></td>
                                 <!-- <td><input type="text" data-bind="value: description" /></td> -->
                                <td><a class="glyphicon glyphicon-remove-circle" data-bind="click: $root.removeStep" style="text-decoration: none;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-default" data-bind='click: function(){$root.addStep}'>Add Step</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click: function(){ $root.saveEdit($data);}">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
