
@model VeganPlanner.Models.Ingredient
@using HtmlHelpers.BeginCollectionItemCore
@using (Html.BeginCollectionItem("Ingredients"))
{
    <div id="ingredientRow" class="ingredientRow">
        @Html.DropDownListFor(m => m.ItemID, (IEnumerable<SelectListItem>)ViewBag.itemList)
        @Html.EditorFor(m => m.Quantity)
        @Html.EditorFor(m => m.Units)
        <a id="deleteRow" class="deleteRow">Delete</a>
    </div>
}
